.oneCard {
  width: 23%;
  height: 400px;
  position: relative;
  color: var(--first-color);
  background-color: var(--sec-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 0.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 8px 4px rgb(240, 240, 240);
}

.contentInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 70%;
  background-color: #fff;
  padding: 1rem;
  z-index: 10;
}

.oneCard:hover .contentInfo {
  background-color: var(--five-color);
  color: var(--four-color);
}

.oneCard:hover .overlay {
  top: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.oneCard .contentInfo h6 {
  font-size: 1rem;
}

.oneCard .contentImage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oneCard .contentImage img {
  width: 100%;
  height: auto;
}

.viewDetails {
  background-color: #fff;
  border-radius: 4px;
  padding: 0.5rem;
  z-index: 10;
  position: absolute;
  top: auto;
  left: auto;
  visibility: hidden;
  text-transform: uppercase;
}

.oneCard:hover .viewDetails {
  visibility: visible;
  transition: all 0.5s;
}

.viewDetails a {
  font-size: 14px;
}

.viewDetails:hover {
  cursor: pointer;
  transition: all 0.25s;
}

.addCart {
  background-color: #fff;
  color: var(--third-color);
  position: absolute;
  top: 1rem;
  right: 0;
  padding: 0.5rem;
  z-index: 10;
  font-size: 1.5rem;
}

.addCart:hover {
  cursor: pointer;
  transition: all 0.5s;
}

.oneCard:hover .addCart {
  right: 0;
  transition: all 0.25s;
}

@media (max-width: 576px) {
  .oneCard {
    width: 48%;
  }
}

@media (min-width: 576.5px) and (max-width: 786.5) {
  .oneCard {
    width: 32%;
  }
}

@media (min-width: 787px) and (max-width: 992.5) {
  .oneCard {
    width: 32%;
  }
}
